{% extends 'core/base.html' %} {% block title %}{{item.name}}{% endblock %} 
{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img
            src="{{item.image.url}}"
            alt="{{item.name}}"
            class="w-full h-auto object-cover rounded-xl"
        />
    </div>
    <div class="col-span-2 p-6 bg-gray-50 rounded-xl">
        <h1 class="mb-6 text-3xl">{{item.name}}</h1>
        <p class="text-gray-500">Price:<strong>{{item.price}}</strong></p>
        <p class="text-gray-500">
            Seller:<strong>{{item.created_by}}</strong>
        </p>
        {% if item.description %}
        <p class="text-gray-500">
            <strong>Description:</strong><br>{{item.description}}
        </p>
        {% endif  %}
        {% if user == item.created_by %}
        <div class="mt-6 p-6 bg-white rounded-xl">
            <p>This is your item</p>
            <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg text-white font-semibold bg-teal-500 rounded-xl hover:bg-teal-700">Edit</a>
            <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg text-white font-semibold bg-red-500 rounded-xl hover:bg-red-700">Delete</a>
        </div>
        {% else %}
        <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-white font-semibold bg-teal-500 text-lg rounded-xl hover:bg-teal-700">contact seller</a>
        {% endif  %}
    </div>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related Items</h2>
    <div class="grid grid-cols-4 gap-6">
        {% for item in related_items %}
        <div
            class="bg-white rounded-xl shadow-sm overflow-hidden hover:shadow-lg transition-shadow duration-300"
        >
            <a href="{% url 'item:detail' item.id %}" class="block">
                <div class="aspect-square overflow-hidden">
                    <img
                        src="{{item.image.url}}"
                        alt="{{item.name}}"
                        class="w-full h-full object-cover rounded-t-xl hover:scale-105 transition-transform duration-300"
                    />
                </div>
            </a>
            <div class="p-6 h-32 flex flex-col justify-between">
                <h3 class="text-xl font-semibold text-gray-800 truncate">
                    {{item.name}}
                </h3>
                <p class="text-lg font-bold text-blue-600">${{item.price}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
