{% extends 'core/base.html' %} {% block title %}Items{% endblock %} 
{% block content %}
<div class="p-6 grid grid-cols-5 gap-4 bg-gray-100">
    <div class="col-span-1">
        <form method="get" action="{% url 'item:items' %}">
            <input
                type="text"
                name="query"
                class="w-full px-6 py-4 border rounded-xl mb-4"
                placeholder="find a chair, food, etc"
                value="{{query}}"
            />
            <button
                class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl"
            >
                Search
            </button>
        </form>
        <hr class="my-6" />
        <h2 class="mb-4 text-xl font-semibold">Categories</h2>
        <ul>
            {% for category in categories %}
            <li
                class="py-2 px-2 rounded-xl {% if category.id == category_id %}bg-gray-200 {% endif %}"
            >
                <a
                    href="{% url 'item:items' %}?query={{query}}&category_id={{category.id}}"
                    >{{category.name}}</a
                >
            </li>
            {% endfor %}
        </ul>
        <hr class="my-6" />
        <h2 class="mb-4 text-xl font-semibold">Clear filters</h2>
        <ul >
            <li><a href="{% url 'item:items' %}" class="mt-2 px-8 py-4 inline-block bg-yellow-500 text-xl rounded-xl text-white">Clear</a></li>
        </ul>

    </div>
    <div class="col-span-4">
        <div class="grid grid-cols-4 gap-6">
            {% for item in items %}
            <div
                class="bg-white rounded-xl shadow-sm overflow-hidden hover:shadow-lg transition-shadow duration-300"
            >
                <a href="{% url 'item:detail' item.id %}" class="block">
                    <div class="aspect-square overflow-hidden">
                        <img
                            src="{{item.image.url}}"
                            alt="{{item.name}}"
                            class="w-full h-full object-cover rounded-t-xl hover:scale-105 transition-transform duration-300"
                        />
                    </div>
                </a>
                <div class="p-6 h-32 flex flex-col justify-between">
                    <h3 class="text-xl font-semibold text-gray-800 truncate">
                        {{item.name}}
                    </h3>
                    <p class="text-lg font-bold text-blue-600">
                        ${{item.price}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
